body {
    font-family: arial;
 }

 .burgerselection{
   position: absolute;
   margin-top:5px;
   padding:10px;
 }

.wrapper{
    display:grid;
    grid-gap:50px;
    grid-template-columns: 200px 200px 200px;
    background-color:black;
    color: white;
    border: 3px dashed white;
    padding:10px;
    margin:10px;

}

.box{
    background-color:black;
    color: white;
    padding: 10px;
    margin: 10px; 
    border-radius:10px;
    margin-top: 40px;

}

#header{
    background-color: white;
    color:black;
    padding: 10px;
    margin: 5px;
    height: 100px;
    overflow:hidden;
}

#headertext{
    position:absolute;
    margin-top:-820px;
    margin-left:20px;
}

 #headerpicture{
    height: auto;
    width:100%;
    margin-left:0px;
    position:left;
    opacity:0.8;
    overflow:hidden;

 }
 

 .ingredients{
    color: #ff5500;
    margin-left:-20px;

 }
 
 #in {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
 }

 #contact {
    background-color: white;
    color:black;
    border: 3px dashed black;
    padding: 10px;
    margin: 10px;
 }
 
 #burgers{
    background-color:black;
    color: white;
    border:3px dashed white;
    padding: 10px;
    margin: 10px;
 }

 .button{
    padding-left:40px;
    margin:100px;
 }

 .button:hover{
    background-color:#002ead;
    transition: 0.7s;

 }

#burgerstyle{
    display:inline-block;
    padding:20px;
    margin-left:50px;
   
}



 .oxburgare{
    grid-column: 1;
    grid-row: 1/ span 3;

 }

 .ostburgare{
   grid-column: 2;
   grid-row: 1 / span 3;
    
 }

 .diverseburgare{
   grid-column: 3;
   grid-row : 1/ span 3;

 }